<!DOCTYPE html>
<html>

<head>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		
		<link href="/mystyle.css" rel="stylesheet">
	<meta charset="UTF-8">
	<title>Website Cheating Bot Detector</title>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

	<!-- production version, optimized for size and speed -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
	<script type="text/x-template" id="modal-template">
		<transition name="modal">
		  <div class="modal-mask">
			<div class="modal-wrapper">
			  <div class="modal-container">
  
				<div class="modal-header">
				  <slot name="header">
					default header
				  </slot>
				</div>
  
				<div class="modal-body">
				  <slot name="body">
					Your query is being processed, please save your unique query token:<br>
				  </slot>
				  <slot name="tokenArea">
				  </slot>
				  <slot name="linkarea">
					  <a href="/dashboard.html"> Navigate to the dashboard to check results </a>
					  <slot>
				</div>
  
				<div class="modal-footer">
				  <slot name="footer">
					Your token is also sent to the supplied email address.
					<button class="modal-default-button" @click="$emit('close')">
					  OK
					</button>
				  </slot>
				</div>
			  </div>
			</div>
		  </div>
		</transition>
	  </script>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand ml-3" id="brandtitle" href="#">Website Cheating Bot Detector</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link active" href="/index.html">Query</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/dashboard.html">Dashboard</a>
			</li>
		  </ul>

		</div>
	  </nav>
	<div id="app">
		<modal v-if="showModal" @close="showModal = false">
			<!--
		  you can use custom content here to overwrite
		  default content
		-->
			<h3 slot="header">Query</h3>
			<h4 slot="tokenArea">{{queryToken}}</h4>
		  </modal>
	<div class="container-sm" id="title">
	
	</div>
	<div class="container-sm border border-2 rounded mt-3" id="form-container">
		<h1>Query Form</h1>
		<hr>
	<form>
		<div class="mb-3 mt-3">
			<label for="classInput" class="form-label">Course Code:</label>
			<input type="text" v-model="courseID" class="form-control" style="width:10%;" id="classInput" aria-describedby="classHelp">
		  </div>
		<div class="mb-3">
		  <label for="questionsInput" class="form-label">Questions:</label>
		  <textarea class="form-control" v-model="questionsText" id="questionsInput" aria-describedby="questionsHelp"></textarea>
		  <div id="questionsHelp" class="form-text">Enter your questions here, separated by commas</div>
		</div>
		<div class="mb-3">
			<label for="answersInput" class="form-label">Answers:</label>
			<textarea type="text" v-model="answersText" class="form-control" id="answersInput" aria-describedby="answersHelp"></textarea>
			<div id="answersHelp" class="form-text">Enter your answers here, separated by commas</div>
		</div>
		<div class="mb-3">
			<label for="formFile" class="form-label">OR open a CSV file</label>
			<input class="form-control" type="file" id="formFile" @change="openCSV">
		  </div>
		  <div class="mb-3 mt-3">
			<label for="emailInput" class="form-label">Email:</label>
			<input type="text" v-model="emailaddress" class="form-control" style="width:30%;" id="emailInput" aria-describedby="emailHelp">
		  </div>
		<button type="button" v-on:click="makePost" class="btn btn-primary mb-3">Submit</button>
	  </form>
	</div>
	
</div>
<script src="index.js"></script>
</body>

</html>