.mainPage {
	text-align: center;
	font-size: 50px;
}

.header {
	font-size: 20px;
	font-style: bold;
}

.leftbar {
	background-color: #002242;
	width: 5%;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.rightbar {
	background-color: #002242;
	width: 5%;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

body {
	background-color: #cff0ff;
	font-family: "Lucida Console", Courier, monospace;
	color: #002242;
}

form {
	font-size: 15px;
	text-align: center;
}

input[type=text] {
	width: 65px;
	height: 20px;
	background-color: #f0faff;
	text-align: center;
	border-style: solid;
	border-color: #002242;
	border-width: 4px;
}

input[type=submit] {
	width: 100px;
	height: 40px;
	font-size: 25px;
	background-color: #4caf50;
	border: none;
	color: white;
	cursor: pointer;
}

textarea {
	width: 75%;
	height: 200px;
	background-color: #f0faff;
	border-style: solid;
	border-color: #002242;
	border-width: 4px;
}
